<div class="share-container clearfix">
  <!-- buttons start here -->
  <ul class="rrssb-buttons clearfix">
    <li class="facebook">
      <a href="https://www.facebook.com/sharer/sharer.php?u=http://tripl.it/" class="popup">
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 100 100" xml:space="preserve" class="style0"><path d="M99.5,17.001C99.5,8.31,91.689,0.5,83,0.5H17C8.327,0.5,0.5,8.31,0.5,17.001v65.998C0.5,91.689,8.31,99.5,17,99.5h33V62.1 H37.9V45.6H50v-6.428C50,28.11,58.359,18.1,68.59,18.1H81.9v16.5H68.562c-1.46,0-3.162,1.761-3.162,4.427V45.6h16.5v16.5H65.4v37.4 H83c8.672,0,16.5-7.83,16.5-16.501V17.001z"/></svg>
        </span>
        <span class="text">facebook</span>
      </a>
    </li>
    <li class="twitter">
      <a href="http://twitter.com/home?status=Found%20out%20a%20new%20way%20of%20sharing%20trip%20expenses,%20by%20@groupbuddies%20http://tripl.it" class="popup">
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="328 355 335 276" preserveAspectRatio="xMidYMid meet"><path d=" M 630  425 A 195  195 0 0 1 331  600 A 142  142 0 0 0 428  570 A 70  70 0 0 1 370  523 A 70  70 0 0 0 401  521 A 70  70 0 0 1 344  455 A 70  70 0 0 0 372  460 A 70  70 0 0 1 354  370 A 195  195 0 0 0 495  442 A 67  67 0 0 1 611  380 A 117  117 0 0 0 654  363 A 65  65 0 0 1 623  401 A 117  117 0 0 0 662  390 A 65  65 0 0 1 630  425 Z"/></svg>
        </span>
        <span class="text">twitter</span>
      </a>
    </li>
  </ul>
  <!-- buttons end here -->
</div>
