---
title: Welcome to Middleman
---
<div class="main">
  <section class="main-description">
    <div class="logo">
    </div>
    <a href="https://play.google.com/store/apps/details?id=com.groupbuddies.triplit">
      <img alt="Android app on Google Play"
      src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png" />
    </a>
    <object data="images/app-store.svg" type="image/svg+xml">
      <img src="images/app-store.png" />
    </object>
  </section>

  <section class="main-screenshot">
    <div class="screenshot">
    </div>
  </section>
</div>
