---
title: Tripl.it
---
<div class="main">
  <section class="main-description">
    <div class="logo"></div>
    <div class="logo-name"></div>
    <div class="logo-full"></div>
    <div class="logo-slogan big">Sharing expenses on a trip with no hassle</div>

    <div class="badges">
      <!-- <a class="badge" href="https://play.google.com/store/apps/details?id=com.groupbuddies.triplit">
        <img alt="Android app on Google Play" src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png">
      </a> -->

      <a class="badge" href="https://itunes.apple.com/pt/app/tripl.it/id819491132?l=en&mt=8">
        <img src="images/app-store.png" />
      </a>
    </div>
  </section>

  <section class="main-screenshot">
    <div class="screenshot">
    </div>
  </section>
</div>
